@font-face {
	font-family: IranSans;
	src: url("/./../font/IRANSans.ttf") format("truetype"), url("/./../font/IRANSansWeb.woff") format("woff"), url("/./../font/IRANSansWeb.woff2") format("woff2");
}
body {
	font-family: IranSans, Tahoma, Geneva, Verdana, sans-serif;
	direction: rtl;
	color: #fff;
	font-size: 16px;
	min-height: 100vh;
}
h1{
	font-size: 1.2em;
	user-select: none;
	font-weight: 500;
}
.version{
        font-size:0.6em;
	user-select: none;
	color: #ccc;
	font-weight: 200;
}
